PORT=3000
NODE_ENV=production
QTTT_DB_DRIVER=postgres
#QTTT_DB_URL=postgresql://app_user:change-me@your-rds-host:5432/qttt_production
QTTT_DB_URL=postgresql://postgres:uJRKIhPQQVzckKHsaFshKrhyHsJLBfhw@postgres.railway.internal:5432/railway
QTTT_DB_SCHEMA=public
QTTT_DB_SSL_MODE=require
QTTT_DB_ROOM_CAPACITY=1000
