PORT=3000
NODE_ENV=staging
QTTT_DB_DRIVER=postgres
QTTT_DB_HOST=127.0.0.1
QTTT_DB_PORT=5432
QTTT_DB_NAME=qttt_staging
QTTT_DB_USER=postgres
QTTT_DB_PASSWORD=postgres
QTTT_DB_SCHEMA=public
QTTT_DB_SSL_MODE=disable
QTTT_DB_ROOM_CAPACITY=200
