*{
    margin:0;

}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#27272a, rgba(29, 29, 31, 0.987));
    background-color: #000000;
}

body.modal-open {
  overflow: hidden;                    /* prevent scroll behind modal */
  filter: blur(2px);                   /* fallback blur if needed */
}

canvas{
    z-index: 0;
}

form input{
    background-color: #b1afaf;
    border-color: #27272a;
}

.view-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 5;
}

.info-box{
    position: absolute;
    top: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    user-select: none;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    min-height: 50px;
    min-width: 350px;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(100px); /* start lower for slide-in */
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.4s ease, transform 0.4s ease;

  width: 40%;
  height: 80%;
  background-color: #27272a;
  border-radius: 10px;

}

.modal-header{
    flex: 0 0 20%;
    border-radius: 2px;
    background-color: rgba(255, 166, 0, 0.884);
}


.modal.is-open { 
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) translateY(0); 
  display: flex;
  flex-direction: column;
  overflow: hidden;
    
}

.modal-overlay {
  position: fixed; inset: 0;
  background: rgba(0,0,0,.25);         /* dim */
  backdrop-filter: blur(6px);    
  z-index: 999;      /* nice soft blur */
  display: none;
}


.modal-body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    user-select: none;
    padding: 20px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    min-height: 100px;
    min-width: 350px;
}

.modal-close {
  position: absolute; top: 10px; right: 12px;
  border: 0; background: transparent; font-size: 18px; cursor: pointer;
  display: none;
}




.toast{
    position: fixed;
    bottom: 20px;
    right: -250px;
    min-width: 200px;
    min-height: 150px;
    
    background-color: rgb(154, 132, 8);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    z-index: 20;
    user-select: none;
    opacity: 0;
    transition: 
        opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out;
}

.toast.show{
    opacity: 1;
    transform: translateX(-100%) 
}

.board-svg {
  border: 1px solid transparent;
  position: fixed; /* or absolute, depending on layout */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: transparent;
  min-width: 300px;
}

.board-background-rect {
  fill: rgba(255, 7, 7, 0);
  stroke: black;
  stroke-width: 2px;
}

.board-little-cell-rect{
 fill:transparent;
 stroke:black;

}

svg text{

    dominant-baseline: middle;
    text-align: middle;
}

.overlay{
    z-index: 10;
}

.board-background-rect{
    z-index: 10;
}

.classic-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  /*fill: rgb(13, 166, 255);*/
  user-select: none;
  pointer-events: none;
}

.x-line {
  fill: none;
  stroke: currentColor;        
  stroke-width: 12;            
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: var(--len, 0);
  stroke-dashoffset: var(--len, 0);
}

.draw .x-line {
  animation: drawLine var(--dur, 600ms) ease forwards;
}

/* make the second line start after the first finishes */
.draw .x-line:nth-child(2) {
  animation-delay: var(--dur, 600ms);
}

@keyframes drawLine {
  to { stroke-dashoffset: 0; }
}

g[data-idx]:hover > .board-background-rect {
  fill: #6065e9b7;
  cursor: pointer;
}

.q-layer-group rect,
.board-little-cell-rect {
  pointer-events: none;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d02043;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e4291f;
}

.choosing-symbol{
    animation: pulse 1.2s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
    user-select: pointer;
    transition: fill 0.2s ease-in;
   
}

.choosing-symbol:hover{
    fill:aqua;
    cursor:pointer;
}

@keyframes pulse {
0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.6));
}
50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1px rgb(23, 194, 180));
}
100%{
    transform: scale(1);
    filter: drop-shadow(0 0 0px rgba(6, 230, 219, 0.6));
}

}

.modal-exit{
    position: absolute;
    right:20px;
}

.modal-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:20px;
    content: "Back to multiplayer menu";
}